body* {
    box-sizing: border-box;
}

.container-nav {
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    position: relative;
}

.meniu {
    border: 1px solid #271344;
    height: 32px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 15px;
    border-radius: 5px;
}

.meniu span {
    width: 70%;
    background-color: black;
    height: 2px;
}
/* nav {
overflow: hidden;
} */

.meniu::after {
    content: '';
    background-color: black;
    height: 2px;
    width: 70%;
    top: 7px;
    position: absolute;
    transition: 0.3s all;
    transform-origin: left;
    transform: skewY(var(--meniu-secondary));
}

.meniu::before {
    content: '';
    background-color: black;
    height: 2px;
    width: 70%;
    bottom: 7px;
    transition: 0.3s all;
    position: absolute;
    transform-origin: left;
    transform: skewY(var(--meniu-primary));
}

nav ul {
    display: block;
    position: absolute;
    top: 100%;
    background-color: #333333;
    width: 90%;
    right: 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-bottom: 20px;
    transition: 0.5 all;
    max-width: 300px;
    transform: translateX(100%);
    opacity: 0;
    transition: 0.5s all;
}

nav ul li {
    list-style: none;
    padding-top: 21px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav {
    border-bottom: 1px solid brown;
}

.bener {
    height: 80px;
    width: 100%;
    display: none;
}

@media(min-width:600px) {
    .bener {
        display: block;
        background-image: url(/static/poze/1461393815571b19971de70.jpg);
    }
}

.container-main {
    width: 90%;
    margin: auto;
}

.container-main h2 {
    padding-left: 30px;
    margin-top: 27px;
    margin-bottom: 27px;
    font: 20px 'aleobold', sans-serif;
    color: #4c4145;
    text-transform: uppercase;
    background-image: url(/static/poze/scarf.png);
    -webkit-background-size: 21px 6px;
    background-size: 21px 6px;
    background-position: left center;
    background-repeat: no-repeat;
    font-weight: 600;
}

.film svg {
    width: 100px;
}

.film img {
    max-width: 300px;
    max-height: 300px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 3px 3px 3px black;
}

.durata svg {
    width: 30px;
}

.durata {
    display: flex;
    flex-direction: row;
    max-width: 100px;
    align-items: center;
    justify-content: space-between;
}

.container-durata-rating {
    max-width: 300px;
}

.durata p {
    color: #333333;
    font-size: 20px;
}

.container-durata-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 220px;
}

.detalii-film {
    display: flex;
    flex-direction: column;
}

.detalii-film a {
    text-decoration: none;
    font-size: 27px;
    color: #333333;
}

.recomandare {
    display: inline-block;
    max-width: 300px;
    position: relative;
    font-size: 15px;
;
    text-transform: uppercase;
}

.film span {
    font-weight: 700;
}

.film p {
    font-size: 15px;
    color: #4c4145;
    line-height: 25px;
;
}

.recomandare::before {
    content: 'A';
    color: #fff;
    padding: 3px 6px;
    margin-right: 3px;
    background: #f14d4d;
    border: solid 1px #eee;
}

.rating p {
    background: #eb7a48;
    padding: 2px 4px;
    display: inline-block;
    border-radius: 4px;
    font-weight: bold;
    color: #eee;
    font-size: 16px;
    border: solid 1px #eee;
    cursor: default;
}

.description {
    max-width: 350px;
}

.yt svg {
    width: 20px;
    height: 20px;
    fill: white;
}

.yt {
    color: #eee;
    background: #fe505a;
    border-radius: 4px;
    max-width: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 25px;
    column-gap: 5px;
}

.yt p {
    color: white;
}

.alegere-ora a {
    text-decoration: none;
    font-size: 20px;
    color: #fe505a;
}

.alegere-ora {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    justify-content: flex-end;
    margin-top: 30px;
}

.alegere-ora p {
    height: 18px;
    color: #fe505a;
}

.orase ul {
    padding: 0;
}

.orase ul li {
    list-style: none;
    text-align: center;
    font-size: 20px;
    background-color: #ffd564;
    width: 100%;
    margin-top: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orase ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #333333;
    text-transform: uppercase;
}

ul li {
    list-style: none;
}

.ul-ore li {
    width: 64px;
    height: 34px;
    background-image: url("poze/bg-time.png");
    background-repeat: no-repeat;
    -webkit-background-size: 64px 34px;
    background-size: 64px 34px;
    top: 0px;
    left: -2px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}

.ul-ore li::after {
    position: absolute;
    content: '';
    width: 80%;
    height: 25px;
    border: 1px solid white
}

.ul-ore {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: flex-start;
}

.ore-zile h3 {
    color: #333333;
    font-size: 15px;
;
}

.ore-zile ul {
    padding: 0;
}

.li-first-background {
    background-color: rgb(209, 209, 209);
    z-index: -1;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 5px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.container-li-background {
    margin-left: 30px;
}

.alegere-ora {
    margin: 0;
    width: 100%;
}

.container-alegere-ora {
    position: relative;
    transition: 1s all;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    overflow: hidden;
    height: 50px;
}

main {
    padding-bottom: 50px;
}

.orar {
    width: 100%;
}

.filme {
    display: flex;
    flex-direction: column;
    row-gap: 120px;
}

@media(min-width:720px) {
    .filme {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
}

@media(min-width:1200px) {
    .filme {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
    }
}

.filme {
    max-width: 1200px;
    margin: auto;
}

.alegere-ora p {
    cursor: pointer;
}

@media(min-width:1200px) {
    .container-li-background {
        margin: 10px;
    ;
    }
}

@media(min-width:1024px) {
    .meniu {
        display: none;
    }
    .nav-ul {
        position: unset;
        flex-direction: row;
        transform: translate(0);
        opacity: 1;
        padding-bottom: 0;
        max-width: unset;
        background-color: unset;
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        align-items: center;
        justify-content: flex-end;
    }
    .nav-ul li a {
        color: #333333;
    }
    .container-nav {
        display: flex;
        flex-direction: row;
    }
}

.scaune {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sits_row {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.container-locuri {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.sits_row span {
    background-color: rgb(18, 221, 18);
    color: rgb(18, 221, 18);
    min-width: 30px;
    min-height: 30px;
    max-width: 50px;
    max-height: 50px;
    transition: 0.5s all;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sits_row span:hover {
    background-color: red;
    color: white;
}

.scaune-selectate {
    height: 100%;
    width: 50px;
    background-color: red;
}

.checkd-place {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.butoane {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

form button {
    background-color: brown;
    color: white;
    border: none;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.5s all;
}

form button:hover {
    color: white;
    background-color: green;
}

footer {
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
}

footer ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 50px);
    text-align: left;
    margin: 0;
    padding: 0;
}

footer ol li {
    text-align: center;
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

footer {
    background-color: rgba(207, 207, 207, 0.2);
}

footer p {
    margin-top: 30px;
}

@media(min-width:1024px) {
    #container_footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    footer {
        width: 100%;
    }
    footer ul {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }
    #container_footer {
        width: 90%;
        margin: auto;
    }
}

ul li img {
    width: 30px;
    height: 30px;
    padding: 4px;
    border: 2px solid gray;
    border-radius: 100%;
}
